# Compiled Python
*.pyc

# JetBrains IDEs
.idea
*.xml

# weights
*.hdf5

/Figures
/Experiments
/Submissions
/IJCAI_2018
/Result_analysis
/config/costs_sigmoid

for_wzn

#/KDD2018


!/KDD2018/sample-sigconf.tex
!/KDD2018/samplebody-conf.tex

/weather_prediction_data

main_wzn.py
config/wzn.py

