# Compiled Python
*.pyc

# JetBrains IDEs
.idea
*.xml

# weights
*.hdf5

/Figures
/Experiments
/Submissions
/IJCAI_2018
/Result_analysis
/config/costs_sigmoid

/paper_ploting

main_wzn.py


for_wzn

#/KDD2018


!/KDD2018/sample-sigconf.tex
!/KDD2018/samplebody-conf.tex



